<h3 align='center'>IBM Datas Science &ndash; Capstone Project

<h1 align='center'>Traffic accident severity prediction by Machine Learning

<h3 align='center'>Danh Nguyen

___

In [8]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [9]:
# Importing data
df = pd.read_csv("../Capstone_Data/NCDB_1999_to_2014.csv")
print("Data Imported")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (1,2,5,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Data Imported

In [10]:
df.head()

,C_YEAR,C_MNTH,C_WDAY,C_HOUR,C_SEV,C_VEHS,C_CONF,C_RCFG,C_WTHR,C_RSUR,...,V_ID,V_TYPE,V_YEAR,P_ID,P_SEX,P_AGE,P_PSN,P_ISEV,P_SAFE,P_USER
0,1999,1,1,20,2,02,34,UU,1,5,...,01,06,1990,01,M,41,11,1,UU,1
1,1999,1,1,20,2,02,34,UU,1,5,...,02,01,1987,01,M,19,11,1,UU,1
2,1999,1,1,20,2,02,34,UU,1,5,...,02,01,1987,02,F,20,13,2,02,2
3,1999,1,1,08,2,01,01,UU,5,3,...,01,01,1986,01,M,46,11,1,UU,1
4,1999,1,1,08,2,01,01,UU,5,3,...,99,NN,NNNN,01,M,05,99,2,UU,3

In [11]:
df.shape

(5860405, 22)

<h3>Methodology

___

The dataset provides detail information of the accidents, grouping into logical groups, i.e. vehicle data, person data,... (details in drivingLegend.pdf). The target data that we want to predict is collision severity (C_SEV), which has 2 desired outcome: 1, 2 as fatal and non-fatal respectively.

From these data, we will use different machine learning algorithm to predict the outcome of the accidents, based on our hypothesis. Details below:

* For the vehicle data group, we hypothesize that the year model greatly affect the survivability of the accident. As the newer the vehicle, the better safety it has. A logistic regression is suitable for this as it provides the probability of fatality.

<h3>Data preprocessing

___

* <h4>Vehicle data prediction:

In [77]:
# we get a sub-data frame consist of type, year model, severity
vh_df = df[['V_TYPE', 'V_YEAR', 'C_SEV']]
vh_df.head()
vh_df.shape

(5860405, 3)

In [96]:
# Dropping non applicable data
vh_df = vh_df[~vh_df['V_TYPE'].isin(['UU', 'QQ', 'NN', 'XX'])]
vh_df = vh_df[~vh_df['V_YEAR'].isin(['UUUU', 'QQQQ', 'NNNN', 'XXXX'])]

In [98]:
vh_df.shape

(5239333, 3)

In [110]:
# define X, y for training
X = vh_df[['V_TYPE', 'V_YEAR']].to_numpy()
y = vh_df[['C_SEV']].to_numpy()

In [111]:
# Normalizing dataset
from sklearn import preprocessing
X = preprocessing.StandardScaler().fit(X).transform(X)
X[0:5]

array([[ 1.43221371, -1.19286724],
       [-0.31628534, -1.61394269],
       [-0.31628534, -1.61394269],
       [-0.31628534, -1.75430118],
       [-0.31628534, -2.03501814]])

In [112]:
# Train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.4, random_state=42)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (3143599, 2) (3143599, 1)
Test set: (2095734, 2) (2095734, 1)

In [114]:
# Applying Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,y_train)
LR

C:\Users\huuda\AppData\Roaming\Python\Python38\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression(C=0.01, solver='liblinear')

In [115]:
yhat = LR.predict(X_test)
yhat

array([2, 2, 2, ..., 2, 2, 2], dtype=int64)

In [118]:
from sklearn import metrics
metrics.accuracy_score(y_test, yhat)

0.983419651539747

In [122]:
# Train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.7, random_state=1234)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)
# Applying Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,y_train)
yhat = LR.predict(X_test)
metrics.accuracy_score(y_test, yhat)

Train set: (1571799, 2) (1571799, 1)
Test set: (3667534, 2) (3667534, 1)

C:\Users\huuda\AppData\Roaming\Python\Python38\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

0.9835167172274341